/* Main Body/Index */
body {
    font-family: 'Bree Serif', serif;
    font-size: 95%;
}
.CodingPic {
    
    position: static;
    margin-left: -5%;
    margin-top: 10%;
    width: 110%; 
}
.TextBox1 {
    
    top: 24.5%;
    right: 2%;
    background-color: #f4f4f4;
    position: absolute;
    padding-right: 1%;
    padding-left: 1%;
    width: 20%;
    font-size: 100%;
    z-index: 1;
    display:inline-block;
    opacity: 80%;
    
}
.Title4Box {
    text-align: center;
}
.Text4Box {
    
    align-content: center;
    text-align: justify;
  text-justify: inter-word;
    text-align-last: center;
}
/* About Page */
.Noscroll {
    overflow: hidden;
}
#ASocials {
    
    margin-top: -1%;
    margin-left: -1%;
    height: 104%;
    width: 23%;
    background: #008a77;
    border-right: 5px solid #00d6b9;
    position: fixed;
}
#ASocials a {
        text-decoration: none;
    color: black;
}
.ALogo {
    
    position: relative;
    top: 10%;
    width: 42.5%;
}
.AName {
    position:relative;
    top: 13%;
    font-size-adjust: auto;
    text-align: center;
}
.AEmail {
    position:relative;
    top: 16%;
    font-size-adjust: auto;
    text-align: center;
}
/* Tests */
.flex-container {
    display:flex;
    flex-direction: row;
}
.AText {
    font-size-adjust: auto;
    text-align: center;
}
.Center {
    left: 50%;
    transform: translateX(-50%);
}
/* Twitch */
#ATwitch {
    position:relative;
    width: 11%;
    top: 15%;

}
.ATwitchLogo {
    position: relative;
    width: 40%;
    left: -60%;
    top: 50%;
}
/* Twitter */
#ATwitter {
    position: relative;
    width: 11%;
    top: 11%;

}
.ATwitterLogo {
    position: relative;
    width: 36%;
    left: -55%;
    top: 50%;
}
/* Discord */
#ADiscord {
    position: relative;
    width: 11%;
    top: 7.5%;

}
.ADicordLogo {
    position: relative;
    width: 36%;
    left: -55%;
    top: 50%;
}
/* Github */
#AGithub {
    position: relative;
    width: 11%;
    top: 4%;

}
.AGithubLogo {
    position: relative;
    width: 36%;
    left: -55%;
    top: 50%;
}
/* Youtube */
#AYoutube {
    position: relative;
    width: 11%;

}
.AYoutubeLogo {
    position:relative;
    width: 36%;
    left: -50%;
    top: 50%;
}
/* Members */
#AMembers {
    position: absolute;
    right: 35%;
    top: 7%;
    
}
.APic {
    width: 45%;
    clip-path: circle(28px at center);
    margin-top: 14%;
    margin-bottom: 36%;

}
.Expand {
    margin-left: 85%;
    margin-top: -5.65%;
}
.Expand:hover {
    color: white;
    transition: 0.25s;
}
#Uk {
    transition: 0.65s;
    padding-bottom: 0%;
}
#Tem {
    transition: 0.65s;
    padding-bottom: 0%;
}
#Beren {
    transition: 0.65s;
    padding-bottom: 0%;
}
#Polt {
    transition: 0.65s;
    padding-bottom: 0%;
}
#Ender {
    transition: 0.65s;
    padding-bottom: 0%;
}
.AMember {
    background: #00a68f;
    width: 175%;
   box-shadow: 12px 12px 5px #00d6b9;
    margin-bottom: 5%;
}