body {
    font-family: 'Bree Serif', serif;
}

.CodingPic {
    
    margin-left: -5%;
    margin-top: 10%;
    width: 110%;
    
}

.TextBox1 {
    
    margin-top: 14%;
    right: 3.5%;
    background-color: #f4f4f4;
    position: absolute;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    width: 18.5%;
    font-size: 100%;
    z-index: 1;
        display:inline-block;
    opacity: 80%;
    
}

.Title4Box {
    
    text-align: center;
    
}

.Text4Box {
    
    align-content: center;
    text-align: justify;
  text-justify: inter-word;
    text-align-last: center;
}