/* Main Body/Index */
body {
    font-family: 'Bree Serif', serif;
    font-size: 95%;
}
.CodingPic {
    
    position: static;
    margin-left: -5%;
    margin-top: 10%;
    width: 110%;
    
}
.TextBox1 {
    
    top: 24.5%;
    right: 2%;
    background-color: #f4f4f4;
    position: absolute;
    padding-right: 1%;
    padding-left: 1%;
    width: 20%;
    font-size: 100%;
    z-index: 1;
    display:inline-block;
    opacity: 80%;
    
}
.Title4Box {
    text-align: center;
}
.Text4Box {
    
    align-content: center;
    text-align: justify;
  text-justify: inter-word;
    text-align-last: center;
}
/* About Page */
.Noscroll {
    overflow: hidden;
}

#Socials {
    
    margin-top: -1%;
    margin-left: -1%;
    height: 104%;
    width: 25%;
    background: #007767;
    border-right: 5px solid #00d6b9;
    
}