#Footer {
    position:absolute;
    background: #007767; /* Colour */
    width: 200%;
    height: 30%;
    margin: 2px;
    padding: 2px;
    left: -5%;
    bottom: -4%;
    font-family: 'Bree Serif', serif;
}