footer {
    overflow: hidden;
    padding: 50%;
    
}

.Noscrolly {
    overflow-x: hidden;
}

#Footer {
    position:absolute;
    background: #007767; /* Colour */
    overflow: hidden;
    width: 105%;
    height: 27%;
    margin: 2px;
    padding: 2px;
    left: -4%;
    margin-top: 50%;
    font-family: 'Bree Serif', serif;
}

.DiscordLogo {
    
    position: absolute;
   width: 4%;
   bottom: 50%;
   left:40%;
    transform: translateX(-50%);
    
}

.YoutubeLogo {
    
    position: absolute;
   width: 4%;
   bottom: 50%;
   left:45%;
    transform: translateX(-50%);
    
}

.TwitterLogo {
    
        position: absolute;
   width: 4%;
   bottom: 50%;
   left:50%;
    transform: translateX(-50%);
    
}

.TwitchLogo {
    
        position: absolute;
   width: 4%;
   bottom: 50%;
   left:55%;
    transform: translateX(-50%);
    
}