
#Header {
    position:fixed;
    background: #003a7d; /* Colour */
    width: 200%;
    height: 14%;
    margin: 2px;
    padding: 2px;
    left: -5%;
    top: -4%;
        font-family: 'Bree Serif', serif;
            z-index: 10;
        box-shadow: 0px -5px 15px #000;
    color: #8bc1ed;
}


#Header a {
    color: #8bc1ed; /* Colour */
    outline: none;
    text-decoration: none;
    
}


#TopText:hover {
    color: #252525; /* Colour */
    transition: 0.25s;
    text-shadow: 0px 0px 10px #8bc1ed;
}

.About {
    position: fixed;
    font-size: 90%;
    top: 4%;
    right: 15%;
}

.Logo {
    position: fixed; 
    left: 50%;
    transform: translateX(-50%);
    height: 25%;
}

.Products {
        position: fixed;
    font-size: 90%;
    top: 4%;
    right: 6%;
}

.Name {
    position: fixed;
        color: #8bc1ed; /* Colour */
    font-size: 110%;
    top: 3.2%;
    left: 6%;
}

/* Product tab area */

.TabArea
{
    margin: 2px;
position: absolute;
font-family: 'Bree Serif', serif;
text-align: center;
        right: 12.5%;
        z-index: 5;
    }

#TabAnim
{
 transition: 0.75s;   
}

.ProductTab {
    
    position: fixed;
  box-shadow: 0px 0px 25px #000;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
  background: #003a7d;
  overflow: hidden;
        color: #8bc1ed;
}

.Product1:hover {
    color: #252525;
      text-shadow: 0px 0px 10px #8bc1ed;
    transition: 0.25s;
}
.Product2:hover {
    color: #252525;
        transition: 0.25s;
      text-shadow: 0px 0px 10px #8bc1ed;
    }